<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href={% url "home" %} class="nav-link px-2 text-white">Home</a></li>
                <li><a href={% url "all_posts" %} class="nav-link px-2 text-white">Posts</a></li>
                {% if user.is_authenticated %}
                    <li><a href={% url "uploads" %} class="nav-link px-2 text-white">Upload</a></li>
                    <li><a href={% url "home" %} class="nav-link px-2 text-white">Settings</a></li>
                {% endif %}
            </ul>

            

            {% if user.is_authenticated %}
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search Posts..." aria-label="Search">
                </form>
                <div class="text-end">  
                    <a href="{% url "logout" %}"><button type="button" class="btn btn-danger me-2">Logout</button></a>
                </div>
            {% else %}
                <div class="text-end">
                    <a href="{% url "login" %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="{% url "register" %}"><button type="button" class="btn btn-warning">Register</button></a>
                </div>
            {% endif %}
        </div>
    </div>
</header>